<h1 align="center">All Users</h1>
<div align="center">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-12 col-md-offset-4">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="article-title">
            <%= link_to user.username, user_path(user), style: "background-color: transparent !important;"%>
          </li>
          <li><small><%= pluralize(user.meals.count, "meal") if user.meals %></small></li>
          <%# if logged_in? and current_user.admin? %>
         <!--  <li><%#= link_to "Delete this user", user_path(user), method: :delete,
              data: { confirm: "Are you sure you want to delete the user and all their meals?" } %></li>
          <%# end %> -->
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin, :user_manager)%>
        </div>
      </div>
    </ul>
<% end %>
</div>